html {
    -webkit-scroll-behavior: smooth;
    -o-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fbfbfb;
    box-sizing: border-box;
    margin: 0 ;
}
li {
    list-style: none;
}
a,
h4,
h3,
span,
button,
div,
li,
p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #303C4D;
    text-decoration: none;
    margin: 0;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}

ul{
    padding-inline-start: 0px;
}
@font-face {
    font-family: Ogg;
    src: url("../font/Ogg-Roman.otf") format("opentype");
    }
@font-face {
    font-family: Oggr;
    src: url("../font/Ogg-Italic.otf") format("opentype");
    }

h1{
    font-family: Ogg;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 144.5%;
}
h2{
    margin: 0;
    font-family: Ogg;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 62px;
    
}
h3{
    font-family: Ogg;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 150%;
    color: #303C4D;
}
@media(max-width:768px){
    h3{
        font-size: 30px;
    }
}
h1,h2,h3{
    margin: 0;
}
h6{
    margin: 0;
    font-family: Ogg;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    color: #EE603B;
}
