.header {
  background: #FFFFFF;
}
.header .header__container {
  height: 108px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header .header__container {
    height: 60px;
  }
}
.header .header__container .header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
@media (max-width: 480px) {
  .header .header__container .header__logo {
    padding-left: 0px;
  }
}
@media (max-width: 480px) {
  .header .header__container .header__logo img:first-child {
    display: none;
  }
}
.header .header__container .header__logo .burger__logo {
  display: none;
}
@media (max-width: 480px) {
  .header .header__container .header__logo .burger__logo {
    display: block;
  }
}
.header .header__container .header__navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__container .header__navbar .navmenu .active.burger .burger__kv {
  display: block;
  width: 11px;
  height: 11px;
  background: url(../home_img/x.svg);
}
.header .header__container .header__navbar .navmenu .active.burger .burger__kv span {
  display: none;
}
.header .header__container .header__navbar .navmenu .burger {
  display: none;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .header .header__container .header__navbar .navmenu .burger {
    display: flex;
    flex-direction: row;
    font-family: Ogg;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 146.5%;
    text-align: center;
    align-items: center;
  }
}
.header .header__container .header__navbar .navmenu .burger .burger__kv {
  display: flex;
  flex-wrap: wrap;
  max-width: 16px;
  height: 16px;
  margin-left: 10px;
}
.header .header__container .header__navbar .navmenu .burger .burger__kv span {
  margin-left: 6px;
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  background-color: #303C4D;
}
.header .header__container .header__navbar .navmenu .menu__list {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  padding-inline-start: 0px;
}
.header .header__container .header__navbar .navmenu .menu__list > li {
  padding-left: 75px;
}
@media (max-width: 991px) {
  .header .header__container .header__navbar .navmenu .menu__list > li {
    padding-left: 35px;
  }
}
@media (max-width: 820px) {
  .header .header__container .header__navbar .navmenu .menu__list > li {
    padding-left: 25px;
  }
}
@media (max-width: 768px) {
  .header .header__container .header__navbar .navmenu .menu__list > li {
    padding-left: 0;
  }
}
.header .header__container .header__navbar .navmenu .menu__list > li a {
  text-decoration: none;
}
.header .header__container .header__navbar .navmenu .menu__list > li .btn__feedback {
  display: flex;
  justify-self: center;
  align-items: center;
  color: #FFFFFF;
  padding: 20px 28px 20px 68px;
  background-color: #EE603B;
}
.header .header__container .header__navbar .navmenu .menu__list > li .btn__feedback:hover {
  opacity: 0.9;
  color: #ffffff;
}
.header .header__container .header__navbar .navmenu .menu__list > li .btn__feedback::before {
  width: 14px;
  height: 14px;
  position: absolute;
  display: block;
  content: "";
  margin-left: -34px;
  background: url(../home_img/shop.svg);
}
.header .header__container .header__navbar .navmenu .menu__list > li:first-child {
  position: relative;
  padding-left: 0px;
}
@media (max-width: 768px) {
  .header .header__container .header__navbar .navmenu .menu__list {
    position: absolute;
    left: -100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: 0.3s ease;
  }
  .header .header__container .header__navbar .navmenu .menu__list > li {
    width: 100%;
    background: #303C4D;
    padding: 20px 0;
    border-bottom: 2px solid #232B36;
  }
  .header .header__container .header__navbar .navmenu .menu__list > li > a {
    padding-left: 20px;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  }
}
@media (max-width: 768px) and (max-width: 375px) {
  .header .header__container .header__navbar .navmenu .menu__list > li > a {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .header .header__container .header__navbar .navmenu .menu__list > li .btn__feedback {
    margin: 30px 20px;
  }
}
@media (max-width: 768px) {
  .header .header__container .header__navbar .navmenu .menu__list > li:nth-child(4) {
    height: 125px;
    padding: 0;
  }
}
.header .header__container .header__navbar .navmenu .active {
  left: 0%;
  transition: 0.3s ease;
}

li#accard.active_accard,
li#accard.active_accard1 {
  padding: 20px 0 0 0;
  background: #6AACEF;
}

li#accard.active_accard1 .sub-menu__list > li {
  padding: 25px 0 0 0;
}

.sub-menu li {
  position: relative;
}

.sub-menu__list {
  display: none;
  position: absolute;
  left: 0;
  top: 20px;
  width: 120px;
  cursor: pointer;
  padding: 20px 0px 0 0px;
}
@media (max-width: 768px) {
  .sub-menu__list {
    position: static;
    margin-top: 20px;
    left: 0;
    padding: 0;
    background: white;
    width: 100%;
    border-bottom: 1px solid rgba(238, 96, 59, 0.5);
  }
}

.sub-menu__list > li {
  position: relative;
  background-color: #303C4D;
  padding: 20px 0px 20px 0px;
  border-bottom: 2px solid #232B36;
}
@media (max-width: 768px) {
  .sub-menu__list > li {
    margin: 0;
    width: 100%;
    padding: 25px 0 25px 0;
    background-color: #fff;
    border-bottom: none;
  }
}

.sub-menu__link {
  color: #fff;
  margin-left: 5px;
}
@media (max-width: 768px) {
  .sub-menu__link {
    color: #303C4D;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-left: 20px;
  }
}

.arrow-next {
  position: absolute;
  right: 10px;
  top: 29px;
  transform: translateY(-50%) rotate(135deg);
  width: 5px;
  height: 5px;
  /*background-color: #f5f5f5;*/
  border-top: 2px solid #FFF;
  border-left: 2px solid #FFF;
  transition: 0.5s;
}
@media (max-width: 768px) {
  .arrow-next {
    right: 20px;
    transform: translateY(-50%) rotate(135deg);
    transition: 0.5s;
    width: 10px;
    height: 10px;
    top: 36px;
    border-top: 3px solid #303c4d;
    border-left: 3px solid #303c4d;
  }
}

.arrow-vniz {
  position: absolute;
  right: -21px;
  top: 9px;
  transform: translateY(-50%) rotate(45deg);
  width: 6px;
  height: 6px;
  /*background-color: #f5f5f5;*/
  border-bottom: 2px solid #303c4d;
  border-right: 2px solid #303C4D;
  transition: 0.5s;
}
@media (max-width: 991px) {
  .arrow-vniz {
    right: -21px;
  }
}
@media (max-width: 820px) {
  .arrow-vniz {
    right: -15px;
  }
}
@media (max-width: 768px) {
  .arrow-vniz {
    right: 20px;
    transform: translateY(-50%) rotate(45deg);
    transition: 0.5s;
    width: 10px;
    height: 10px;
    top: 25px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
  }
}

body.mouse .menu__list > li:first-child:hover .arrow-vniz {
  transform: rotate(225deg);
  transition: 0.5s;
}

body.mouse .sub-menu__list > li:first-child:hover .arrow-next {
  transform: rotate(315deg);
  transition: 0.5s;
}

.sub-sub-menu__list {
  display: none;
  position: absolute;
  top: 0px;
  left: 120px;
  width: 300px;
}
@media (max-width: 768px) {
  .sub-sub-menu__list {
    position: static;
    left: 0;
    margin-top: 20px;
    padding: 0;
    width: 100%;
  }
}

.sub-sub-menu__link {
  border-bottom: 2px solid #232B36;
  background-color: #303C4D;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
@media (max-width: 768px) {
  .sub-sub-menu__link {
    background-color: white;
  }
  .sub-sub-menu__link:first-child {
    border-top: 1px solid rgba(238, 96, 59, 0.5);
    border-bottom: 1px solid rgba(238, 96, 59, 0.5);
  }
  .sub-sub-menu__link:nth-child(2) {
    border-bottom: none;
  }
}
.sub-sub-menu__link a {
  color: white;
  margin-left: 20px;
}
.sub-sub-menu__link a img {
  margin-left: 10px;
  width: 48px;
  height: 57px;
}
@media (max-width: 768px) {
  .sub-sub-menu__link a {
    font-size: 14px;
    line-height: 150.5%;
    color: #303C4D;
  }
}

body.mouse .menu__list > li:hover .sub-menu__list {
  display: block;
}

body.mouse .sub-menu__list:hover .sub-sub-menu__list {
  display: block;
}

body.touch .active_submenu .sub-menu__list {
  display: block;
}
@media (max-width: 768px) {
  body.touch .active_submenu .sub-menu__list {
    position: relative;
    top: 0;
    left: 0;
  }
}

body.touch .active_submenu .sub-sub-menu__list {
  display: block;
}

.menu a.parent {
  margin: 0 30px 0 0;
}

body.touch .sub-menu__list.open {
  display: block;
}

body.touch .sub-sub-menu__list.open {
  display: block;
}

body.touch .arrow-vniz.active_submenu {
  transform: rotate(-135deg);
  transition: 0.5s;
}

body.touch .arrow-next.active_submenu {
  transform: rotate(-135deg);
  top: 25px;
  transition: 0.5s;
}

.footer {
  border: 1px solid #000;
  background-color: #303C4D;
  position: relative;
}
@media (max-width: 1440px) {
  .footer {
    position: static;
  }
}
.footer .footer__container {
  width: 100%;
}
@media (max-width: 1440px) {
  .footer .footer__container {
    position: relative;
  }
}
.footer .footer__container .footer__items {
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1440px) {
  .footer .footer__container .footer__items {
    padding: 42px 0;
  }
}
@media (max-width: 768px) {
  .footer .footer__container .footer__items {
    flex-direction: column;
  }
}
.footer .footer__container .footer__items > .footer__item-left {
  width: 40%;
}
@media (max-width: 1440px) {
  .footer .footer__container .footer__items > .footer__item-left {
    padding: 0 0 0 10px;
  }
}
@media (max-width: 768px) {
  .footer .footer__container .footer__items > .footer__item-left {
    width: 80%;
    padding-left: 22px;
  }
}
.footer .footer__container .footer__items > .footer__item-left > .sub-footer__item > .footer__logo {
  padding-bottom: 22px;
  width: 224px;
  height: 54px;
}
@media (max-width: 768px) {
  .footer .footer__container .footer__items > .footer__item-left > .sub-footer__item > .footer__logo {
    padding-bottom: 19px;
    width: 245px;
    height: 74px;
  }
}
.footer .footer__container .footer__items > .footer__item-left > .sub-footer__item > .footer__logo > img {
  width: 100%;
  height: 100%;
  object-fit: revert;
}
.footer .footer__container .footer__items > .footer__item-left > .sub-footer__item > .footer__onas {
  padding-bottom: 46px;
  padding-right: 120px;
}
@media (max-width: 768px) {
  .footer .footer__container .footer__items > .footer__item-left > .sub-footer__item > .footer__onas {
    padding-right: 20px;
    padding-bottom: 32px;
  }
}
.footer .footer__container .footer__items > .footer__item-left > .sub-footer__item > .footer__onas > p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 180%;
  color: #FFFFFF;
}
.footer .footer__container .footer__items > .footer__item-left > .sub-footer__item > .footer__ocoo {
  padding-right: 120px;
}
@media (max-width: 768px) {
  .footer .footer__container .footer__items > .footer__item-left > .sub-footer__item > .footer__ocoo {
    padding-right: 20px;
    padding-bottom: -10px;
  }
}
.footer .footer__container .footer__items > .footer__item-left > .sub-footer__item > .footer__ocoo > a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 178.9%;
  color: rgba(255, 255, 255, 0.7);
}
.footer .footer__container .footer__items .footer__item-right {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer .footer__container .footer__items .footer__item-right {
    width: 90%;
  }
}
@media (max-width: 1440px) {
  .footer .footer__container .footer__items .footer__item-right {
    padding: 0 10px 0 0;
  }
}
@media (max-width: 991px) {
  .footer .footer__container .footer__items .footer__item-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer .footer__container .footer__items .footer__item-right > .sub-footer__item {
    width: 46%;
  }
}
@media (max-width: 768px) {
  .footer .footer__container .footer__items .footer__item-right {
    padding-left: 22px;
  }
}
@media (max-width: 480px) {
  .footer .footer__container .footer__items .footer__item-right > .sub-footer__item {
    width: 90%;
  }
}
.footer .footer__container .footer__items .footer__item-right > .sub-footer__item > .footer__about {
  padding-bottom: 11px;
}
.footer .footer__container .footer__items .footer__item-right > .sub-footer__item > .footer__about h4 {
  font-style: normal;
  font-weight: 600;
  color: #697485;
}
@media (max-width: 768px) {
  .footer .footer__container .footer__items .footer__item-right > .sub-footer__item > .footer__about {
    margin-top: 50px;
  }
}
.footer .footer__container .footer__items .footer__item-right > .sub-footer__item > .follow {
  padding-bottom: 1px;
}
.footer .footer__container .footer__items .footer__item-right > .sub-footer__item > .footer__menu ul {
  padding: 0;
}
.footer .footer__container .footer__items .footer__item-right > .sub-footer__item > .footer__menu ul li {
  padding: 0 0 30px 0;
}
.footer .footer__container .footer__items .footer__item-right > .sub-footer__item > .footer__menu ul li a {
  font-style: normal;
  font-weight: 600;
  color: #FFFFFF;
}
.footer .footer__container .footer__items .footer__item-right > .sub-footer__item > .footer__menu ul li a:hover {
  color: #EE603B;
}
.footer .footer__container .footer__items .footer__item-right > .sub-footer__item > .footer__menu ul li:last-child {
  padding-bottom: 0;
}
@media (max-width: 480px) {
  .footer .footer__container .footer__items .footer__item-right > .sub-footer__item > .footer__menu > .follow__list {
    display: flex;
    flex-direction: row;
  }
}
.footer .footer__container .footer__items .footer__item-right > .sub-footer__item > .footer__menu > .follow__list > li {
  display: flex;
  justify-content: center;
  width: 46px;
  height: 46px;
  margin-left: -11px;
  padding-bottom: 0;
}
@media (max-width: 480px) {
  .footer .footer__container .footer__items .footer__item-right > .sub-footer__item > .footer__menu > .follow__list > li {
    width: 53px;
    height: 53px;
    margin-left: 0;
    margin-right: 30px;
  }
}
.footer .footer__container .footer__items .footer__item-right > .sub-footer__item > .footer__menu > .follow__list > li:first-child {
  padding-bottom: 7px;
}
@media (max-width: 480px) {
  .footer .footer__container .footer__items .footer__item-right > .sub-footer__item > .footer__menu > .follow__list > li:first-child {
    padding: 0;
  }
}
.footer .footer__container .footer__items .footer__item-right > .sub-footer__item > .footer__menu > .follow__list > li:nth-child(2) {
  padding-bottom: 7px;
}
@media (max-width: 480px) {
  .footer .footer__container .footer__items .footer__item-right > .sub-footer__item > .footer__menu > .follow__list > li:nth-child(2) {
    padding: 0;
  }
}
@media (max-width: 480px) {
  .footer .footer__container .footer__items .footer__item-right > .sub-footer__item > .footer__menu > .follow__list > li:nth-child(3) {
    display: flex;
    align-items: center;
  }
}
.footer .footer__container .footer__starting .footer__start {
  transition: 1s ease;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 66px;
  height: 60px;
  cursor: pointer;
}
@media (max-width: 375px) {
  .footer .footer__container .footer__starting .footer__start {
    position: relative;
    width: 100%;
    height: 88px;
    background-color: #3B4657;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.footer .footer__container .footer__starting .footer__start img {
  width: 100%;
  height: 100%;
}
@media (max-width: 375px) {
  .footer .footer__container .footer__starting .footer__start img {
    width: 88px;
    height: 88px;
    object-fit: cover;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.footer .footer__container .footer__starting .footer__start > p {
  display: none;
  font-size: 18px;
  line-height: 203.9%;
  color: #FFFFFF;
}
@media (max-width: 375px) {
  .footer .footer__container .footer__starting .footer__start > p {
    display: block;
    margin-left: 20px;
  }
}

.main {
  background-color: #f9f0ee;
  background-image: url(../home_img/main_phon1.png);
  background-blend-mode: multiply;
}
.main .main__container > .main__acquaintance {
  width: 100%;
}
.main .main__container > .main__acquaintance > .acquaintance__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 98px 0 72px 0;
  width: 100%;
}
@media (max-width: 991px) {
  .main .main__container > .main__acquaintance > .acquaintance__items {
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px 0 42px 0;
  }
}
.main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left {
  width: 45%;
  padding-top: 64px;
}
@media (max-width: 1440px) {
  .main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left {
    padding-left: 20px;
  }
}
@media (max-width: 991px) {
  .main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left {
    width: 85%;
    padding-top: 20px;
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left {
    width: 96%;
  }
}
.main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left > .h1__pc {
  margin: 0;
  padding-right: 40px;
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 144.5%;
  padding-bottom: 28px;
}
@media (max-width: 1440px) {
  .main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left > .h1__pc {
    padding-right: 0;
  }
}
@media (max-width: 991px) {
  .main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left > .h1__pc {
    padding-bottom: 20px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left > .h1__pc {
    display: none;
  }
}
.main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left > .h1__mobile {
  display: none;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 138.5%;
  text-align: center;
  font-family: Ogg;
}
@media (max-width: 768px) {
  .main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left > .h1__mobile {
    display: block;
  }
}
.main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left > .p__pc {
  padding-right: 100px;
  font-weight: normal;
  font-size: 20px;
  line-height: 178.9%;
  padding-bottom: 36px;
}
@media (max-width: 1440px) {
  .main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left > .p__pc {
    padding-right: 40px;
  }
}
@media (max-width: 991px) {
  .main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left > .p__pc {
    padding-right: 0;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left > .p__pc {
    display: none;
  }
}
.main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left > .p__mobile {
  line-height: 178.9%;
  text-align: center;
  display: none;
}
@media (max-width: 768px) {
  .main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left > .p__mobile {
    display: block;
    padding: 0 20px 30px 20px;
  }
}
.main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left .acquaintance__btns {
  display: flex;
  flex-direction: row;
  margin: 0;
}
@media (max-width: 991px) {
  .main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left .acquaintance__btns {
    justify-content: center;
  }
}
.main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left .acquaintance__btns .acquaintance__btn-left {
  display: block;
  background: #EE603B;
  text-align: center;
  color: #FFFFFF;
  padding: 20px 35px;
  border-radius: 1px;
}
@media (max-width: 365px) {
  .main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left .acquaintance__btns .acquaintance__btn-left {
    padding: 20px 30px;
  }
}
.main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left .acquaintance__btns .acquaintance__btn-left:hover {
  opacity: 0.9;
}
.main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left .acquaintance__btns .acquaintance__btn-right {
  padding: 20px 28px 20px 58px;
  background: #FFF4F3;
  margin-left: 30px;
  border: 2px solid #EE603B;
  box-sizing: border-box;
  border-radius: 1px;
  position: relative;
  color: #EE603B;
}
@media (max-width: 480px) {
  .main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left .acquaintance__btns .acquaintance__btn-right {
    margin-left: 16px;
  }
}
@media (max-width: 365px) {
  .main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left .acquaintance__btns .acquaintance__btn-right {
    padding: 15px 15px 15px 43px;
    margin-left: 10px;
  }
}
.main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left .acquaintance__btns .acquaintance__btn-right::before {
  content: "";
  position: absolute;
  background-image: url(../home_img/orange-next.svg);
  width: 9px;
  height: 10px;
  left: 28px;
  top: 24.5px;
}
@media (max-width: 365px) {
  .main .main__container > .main__acquaintance > .acquaintance__items .acquaintance__item-left .acquaintance__btns .acquaintance__btn-right::before {
    left: 15px;
    top: 19.5px;
  }
}
.main .main__container > .main__acquaintance > .acquaintance__items > .acquaintance__item-right {
  width: 45%;
}
@media (max-width: 991px) {
  .main .main__container > .main__acquaintance > .acquaintance__items > .acquaintance__item-right {
    width: 85%;
  }
}
@media (max-width: 768px) {
  .main .main__container > .main__acquaintance > .acquaintance__items > .acquaintance__item-right {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .main .main__container > .main__acquaintance > .acquaintance__items > .acquaintance__item-right {
    width: 80%;
  }
}
.main .main__container > .main__acquaintance > .acquaintance__items > .acquaintance__item-right > .acquaintance__play-video {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .main__container > .main__acquaintance > .acquaintance__items > .acquaintance__item-right > .acquaintance__play-video > iframe {
  width: 100%;
  height: 486px;
  border: none;
  display: none;
  border-radius: 25px;
}
@media (max-width: 767px) {
  .main .main__container > .main__acquaintance > .acquaintance__items > .acquaintance__item-right > .acquaintance__play-video > iframe {
    border-radius: 35px;
  }
}
@media (max-width: 480px) {
  .main .main__container > .main__acquaintance > .acquaintance__items > .acquaintance__item-right > .acquaintance__play-video > iframe {
    height: 150%;
    border-radius: 35px;
  }
}
.main .main__container > .main__acquaintance > .acquaintance__items > .acquaintance__item-right > .acquaintance__play-video > iframe.active_video {
  display: block;
}
.main .main__container > .main__acquaintance > .acquaintance__items > .acquaintance__item-right > .acquaintance__play-video img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.main .main__container > .main__acquaintance > .acquaintance__items > .acquaintance__item-right > .acquaintance__play-video img.active_video {
  display: none;
}
.main .main__container > .main__acquaintance > .acquaintance__items > .acquaintance__item-right > .acquaintance__play-video > .play__video {
  position: absolute;
  width: 94px;
  height: 94px;
  top: 40%;
  left: 40%;
  display: block;
  background-image: url(../home_img/play.svg);
}
@media (max-width: 768px) {
  .main .main__container > .main__acquaintance > .acquaintance__items > .acquaintance__item-right > .acquaintance__play-video > .play__video {
    width: 60px;
    height: 60px;
    top: 37%;
    left: 43%;
    background-image: url(../home_img/play__video1.svg);
  }
}
.main .main__container > .main__acquaintance > .acquaintance__items > .acquaintance__item-right > .acquaintance__play-video > .play__video.active_video {
  display: none;
}