.header {
  background: #FFFFFF;
}
.header .header__container {
  height: 108px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header .header__container {
    height: 60px;
  }
}
.header .header__container .header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
@media (max-width: 480px) {
  .header .header__container .header__logo {
    padding-left: 0px;
  }
}
@media (max-width: 480px) {
  .header .header__container .header__logo img:first-child {
    display: none;
  }
}
.header .header__container .header__logo .burger__logo {
  display: none;
}
@media (max-width: 480px) {
  .header .header__container .header__logo .burger__logo {
    display: block;
  }
}
.header .header__container .active {
  border-bottom: 2px solid #EE603B;
}
.header .header__container .header__navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__container .header__navbar .navmenu .burger {
  display: none;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .header .header__container .header__navbar .navmenu .burger {
    display: flex;
    flex-direction: row;
    font-family: Ogg;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 146.5%;
    text-align: center;
    align-items: center;
  }
  .header .header__container .header__navbar .navmenu .burger .burger__kv {
    display: flex;
    flex-wrap: wrap;
    max-width: 16px;
    height: 16px;
    margin-left: 10px;
  }
  .header .header__container .header__navbar .navmenu .burger .burger__kv span {
    margin-left: 6px;
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    background-color: #303C4D;
  }
}
.header .header__container .header__navbar .navmenu ul {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  padding-inline-start: 0px;
}
.header .header__container .header__navbar .navmenu ul li {
  padding-left: 75px;
}
@media (max-width: 991px) {
  .header .header__container .header__navbar .navmenu ul li {
    padding-left: 35px;
  }
}
@media (max-width: 820px) {
  .header .header__container .header__navbar .navmenu ul li {
    padding-left: 25px;
  }
}
@media (max-width: 768px) {
  .header .header__container .header__navbar .navmenu ul li {
    padding-left: 0;
  }
}
.header .header__container .header__navbar .navmenu ul li a {
  text-decoration: none;
}
.header .header__container .header__navbar .navmenu ul li a:hover {
  color: #EE603B;
}
.header .header__container .header__navbar .navmenu ul li .btn__feedback {
  display: flex;
  justify-self: center;
  align-items: center;
  color: #FFFFFF;
  padding: 20px 28px 20px 68px;
  background-color: #EE603B;
}
.header .header__container .header__navbar .navmenu ul li .btn__feedback:hover {
  opacity: 0.9;
  color: #ffffff;
}
.header .header__container .header__navbar .navmenu ul li .btn__feedback::before {
  width: 14px;
  height: 14px;
  position: absolute;
  display: block;
  content: "";
  margin-left: -34px;
  background: url(../home_img/shop.svg);
}
@media (max-width: 768px) {
  .header .header__container .header__navbar .navmenu ul {
    position: absolute;
    right: -100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: 0.3s ease;
  }
  .header .header__container .header__navbar .navmenu ul li:first-child {
    margin-top: 2px;
  }
  .header .header__container .header__navbar .navmenu ul li {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    background: #303C4D;
    border-bottom: 2px solid #232B36;
  }
  .header .header__container .header__navbar .navmenu ul li a {
    padding-left: 20px;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  }
}
@media (max-width: 768px) and (max-width: 375px) {
  .header .header__container .header__navbar .navmenu ul li a {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .header .header__container .header__navbar .navmenu ul li .btn__feedback {
    margin: 30px 20px;
  }
}
@media (max-width: 768px) {
  .header .header__container .header__navbar .navmenu ul li:nth-child(4) {
    height: 125px;
  }
}
.header .header__container .header__navbar .navmenu .active {
  right: 0%;
  transition: 0.3s ease;
}