
////////////////////HEADER
//////////////////////////
.header {
    background: #FFFFFF;
    .header__container {
        height: 108px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        @media (max-width: 768px){
            height: 60px;
        }
        .header__logo {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 10px;
            @media (max-width: 480px){
                padding-left: 0px;
            }
            img:first-child{
                @media (max-width: 480px){
                    display: none;
                } 
            }
            .burger__logo{
                display: none;
                @media (max-width: 480px){
                    display: block;
                }
            }
        }
        .header__navbar {
            display: flex;
            justify-content: center;
            align-items: center;
            .navmenu{
                .active.burger{
                    .burger__kv{
                        display: block;
                        width: 11px;
                        height: 11px;
                        background: url(../home_img/x.svg);
                        span{
                            display: none;    
                        }
                    }
                }
                .burger{
                    display: none;
                    margin-right: 20px;
                    @media (max-width: 768px){
                        display: flex;
                        flex-direction: row;
                        font-family: Ogg;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 146.5%;
                        text-align: center;
                        align-items: center;
                    }
                    .burger__kv{
                        display: flex; 
                        flex-wrap: wrap;
                        max-width: 16px;
                        height: 16px;
                        margin-left: 10px;
                        
                        span{
                        margin-left: 6px;
                        content: '';
                        display: block;
                        width: 2px;
                        height: 2px;
                        background-color: #303C4D;
                        }
                    } 
                    

                }
                
                
                
                // border: 1px solid #000;
                .menu__list{
                    // border: 1px solid #000;
                    display: flex;
                    flex-direction: row;
                    justify-self: center;
                    align-items: center;
                    padding-inline-start: 0px;
                    >li{
                        padding-left: 75px;
                        @media (max-width: 991px){
                            padding-left: 35px;
                        }
                        @media (max-width: 820px){
                            padding-left: 25px;
                        }
                        @media (max-width: 768px){
                            padding-left: 0;
                        }
                        a{
                            text-decoration: none;
                            
                        }
                        .btn__feedback {
                            display: flex;
                            justify-self: center;
                            align-items: center;
                            color: #FFFFFF;
                            padding: 20px 28px 20px 68px;
                            background-color: #EE603B;
                            &:hover{
                                opacity: 0.9;
                                color: #ffffff;
                            }
                            &::before{
                                width: 14px;
                                height: 14px;
                                position: absolute;
                                display: block;
                                content: '';
                                margin-left: -34px;
                                background: url(../home_img/shop.svg);
                            }
                        }
                    }
                    >li:first-child{
                        position: relative;
                        padding-left: 0px;
                    }  
                    @media (max-width: 768px){
                        position: absolute;
                        left: -100%;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        z-index: 100;                        
                        transition: 0.3s ease;
                        >li{
                            width: 100%;
                            background: #303C4D;  
                            padding: 20px 0;                           
                            border-bottom: 2px solid #232B36;
                                >a{
                                padding-left: 20px;
                                font-size: 20px;
                                line-height: 24px;
                                color: #FFFFFF;
                                @media(max-width: 375px){
                                    font-size: 16px;
                                }
                            }
                            .btn__feedback{
                                margin: 30px 20px;
                            }
                        }
                        >li:nth-child(4){
                            height: 125px;
                            padding: 0;
                        } 
                        
                        
                    }
                    
                }
                .active{
                    left:  0%;
                    transition: 0.3s ease;
                }
                
                
            }
        }
    }

}

// сплывающее меню
li#accard.active_accard,
li#accard.active_accard1{
    padding: 20px 0 0 0;
    background: #6AACEF;
}
li#accard.active_accard1{
    .sub-menu__list>li{
        padding: 25px 0 0 0;
    }
}

.sub-menu li{
    position: relative;
}
.sub-menu__list{
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    width: 120px;
    cursor: pointer;
    padding: 20px 0px 0 0px;
    @media (max-width: 768px){
        position: static;
        margin-top: 20px;     
        left: 0;
        padding: 0;
        background: white;
        width: 100%;
        border-bottom: 1px solid rgba(238, 96, 59, 0.5);
    }
    
}
.sub-menu__list>li{
    position: relative;
    background-color:#303C4D;
    padding: 20px 0px 20px 0px;
    border-bottom: 2px solid #232B36;
    @media (max-width: 768px){
        margin: 0;
        width: 100%;
        padding: 25px 0 25px 0;
        background-color: #fff;
        border-bottom: none;
    }
}
.sub-menu__link{
    color: #fff;
    margin-left: 5px;
    @media(max-width: 768px){
        color: #303C4D;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-left: 20px;
    }

}
.arrow-next{
    position: absolute;
    right: 10px;
    top: 29px;
    transform: translateY(-50%) rotate(135deg);
    width: 5px;
    height: 5px;
    /*background-color: #f5f5f5;*/
    border-top: 2px solid #FFF;
    border-left: 2px solid #FFF;
    transition: .5s;
    @media (max-width: 768px){
        right: 20px;
        transform: translateY(-50%) rotate(135deg);
        transition: .5s;
        width: 10px;
        height: 10px;
        top: 36px;
        border-top: 3px solid #303c4d;
        border-left: 3px solid #303c4d;
    }
}
.arrow-vniz{
    position: absolute;
    right: -21px;
    top: 9px;
    transform: translateY(-50%) rotate(45deg);
    width: 6px;
    height: 6px;
    /*background-color: #f5f5f5;*/
    border-bottom: 2px solid #303c4d;
    border-right: 2px solid #303C4D;
    transition: .5s;
    @media (max-width: 991px){
        right: -21px;
    }
    @media (max-width: 820px){
        right: -15px;
    }
    @media (max-width: 768px){
        right: 20px;
        transform: translateY(-50%) rotate(45deg);
        transition: .5s;
        width: 10px;
        height: 10px;
        top: 25px;
        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;
    }
}
body.mouse .menu__list>li:first-child:hover .arrow-vniz{
    transform: rotate(225deg);
    transition: .5s;
}
body.mouse .sub-menu__list>li:first-child:hover .arrow-next{
    transform: rotate(315deg);
    transition: .5s;
}

.sub-sub-menu__list{
    display: none;
    position: absolute;
    top: 0px;
    left: 120px;
    width: 300px;
    
    @media (max-width: 768px){
        position: static;
        left: 0;
        margin-top: 20px;
        padding: 0;
        width: 100%;
        
    }
    
}
.sub-sub-menu__link{
    border-bottom: 2px solid #232B36;
    background-color: #303C4D;
    display: flex;
    align-items: center;
    padding: 10px 0;
    @media(max-width:768px){   
        background-color: white;
        &:first-child{
            border-top: 1px solid rgba(238, 96, 59, 0.5);
            border-bottom: 1px solid rgba(238, 96, 59, 0.5);
        } 
        &:nth-child(2){
            border-bottom: none;
        }   
    }
    a{
        color: white;
        margin-left: 20px;
        img{
            margin-left: 10px;
            width: 48px;
            height: 57px; 
        }
        @media(max-width: 768px){
            font-size: 14px;
            line-height: 150.5%;
            color: #303C4D;
        }
    }
}

body.mouse .menu__list>li:hover .sub-menu__list{
    display: block;
}
body.mouse .sub-menu__list:hover .sub-sub-menu__list{
    display: block;
}
body.touch .active_submenu .sub-menu__list{
    display: block;
    @media(max-width: 768px){
        position: relative;
        top: 0;
        left: 0;
    }
}
body.touch .active_submenu .sub-sub-menu__list{
    display: block;     
}
.menu a.parent{
    margin: 0 30px 0 0;
}
body.touch .sub-menu__list.open{
    display: block; 
}
body.touch .sub-sub-menu__list.open{
    display: block;
}
body.touch .arrow-vniz.active_submenu{
    transform: rotate(-135deg);
    transition: .5s;
}
body.touch .arrow-next.active_submenu  {
    transform: rotate(-135deg);
    top: 25px;
    transition: .5s; 
}
// конец сплывающего меню

////////////////END HEADER
//////////////////////////

////////////////////FOOTER
//////////////////////////
.footer{
    background-color: #303C4D;
    position: relative;
    @media(max-width: 1440px){
        position: static;
    }
    .footer__container{
        width: 100%;
        @media(max-width:1440px){
            position: relative;
        }
        .footer__items{
            width: 100%;
            padding: 50px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @media(max-width: 1440px){
                padding: 42px 0;
            }
            @media(max-width:768px){
                flex-direction: column;
                
            }

            >.footer__item-left{
                width: 40%;
                @media(max-width: 1440px){
                    padding: 0 0 0 10px;
                }
                @media(max-width:768px){
                    width: 80%;
                    padding-left: 22px;
                }
                >.sub-footer__item{
                    >.footer__logo{
                        padding-bottom: 22px;
                        width: 224px;
                        height: 54px;
                        @media(max-width:768px){
                            padding-bottom: 19px;
                            width: 245px;
                            height: 74px;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: revert;
                        }
                    }
                    >.footer__onas{
                        padding-bottom: 46px;
                        padding-right: 120px;
                        @media(max-width:768px){
                        padding-right: 20px;
                        padding-bottom: 32px;
                        }
                        >p{
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 180%;
                            color: #FFFFFF;
                        }
                    }
                    >.footer__ocoo{
                        padding-right: 120px;
                        @media(max-width:768px){
                            padding-right: 20px;
                            padding-bottom: -10px;
                        }
                        >a{
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 178.9%;
                            color: rgba(255, 255, 255, 0.7);
                        }
                    }
                }
            }
            .footer__item-right{
                width: 60%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                @media(max-width: 768px){
                    width: 90%;
                }  
                @media(max-width: 1440px){
                    padding: 0 10px 0 0;
                }
                @media(max-width:991px){
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    >.sub-footer__item{
                        width: 46%;
                    }
                }
                @media(max-width:768px){
                    padding-left: 22px;
                }
                @media(max-width:480px){
                    >.sub-footer__item{
                        width: 90%;
                    }
                }

                >.sub-footer__item{
                    >.footer__about {
                        padding-bottom: 11px;
                        h4{
                            font-style: normal;
                            font-weight: 600;
                            color: #697485;
                        }
                        @media(max-width: 768px){
                            margin-top: 50px;
                        }
                    }
                    >.follow{
                        padding-bottom: 1px;
                    }
                    >.footer__menu {
                        ul{
                            padding: 0;
                            li{
                                padding: 0 0 30px 0;
                                a{
                                    font-style: normal;
                                    font-weight: 600;
                                    color: #FFFFFF;
                                    &:hover{
                                        color: #EE603B;
                                    }
                                }
                            }
                            li:last-child{
                                padding-bottom: 0;
                            }
                        }
                        >.follow__list{
                            @media(max-width: 480px){
                                display: flex;
                                flex-direction: row;
                            }
                            >li{
                                display: flex;
                                justify-content: center;
                                width: 46px;
                                height: 46px;
                                margin-left: -11px;
                                padding-bottom: 0;
                                @media(max-width: 480px){
                                    width: 53px;
                                    height: 53px;
                                    margin-left: 0;
                                    margin-right: 30px;
                                }
                            }
                            >li:first-child{
                                padding-bottom: 7px;
                                @media(max-width: 480px){
                                    padding: 0;
                                }
                            }
                            >li:nth-child(2){
                                padding-bottom: 7px;
                                @media(max-width: 480px){
                                    padding: 0;
                                }
                            }
                            >li:nth-child(3){
                                @media(max-width: 480px){
                                    display: flex;
                                    align-items: center;
                                }
                            }
                        }
                    }
                }
                
            }
        }
        .footer__starting{
            .footer__start{
                transition: 1s ease;
                display: block;
                position: absolute; 
                right: 0; 
                bottom: 0; 
                width: 66px; 
                height: 60px; 
                cursor: pointer;
                @media(max-width: 375px){
                    position: relative;
                    width: 100%;
                    height: 88px;
                    background-color: #3B4657;
                    display: flex; 
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }
                img{ 
                    width: 100%; 
                    height: 100%; 
                    @media(max-width: 375px){
                        width: 88px;
                        height: 88px;
                        object-fit: cover;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                    }
                } 
                >p{ 
                    display: none; 
                    font-size: 18px; 
                    line-height: 203.9%; 
                    color: #FFFFFF; 
                    @media(max-width: 375px){
                        display: block;
                        margin-left: 20px;
                    }
                } 
            }
        }
        
    }
}
////////////////END FOOTER
//////////////////////////



//////////////////////MAIN
//////////////////////////

main{
    /////////////////acquaintance
    .acquaintance{
        background-color: #f9f0ee;
        background-image: url(../home_img/main_phon1.png);
        background-blend-mode: multiply;
        .acquaintance__container{
            >.main__acquaintance{
                width: 100%;
                >.acquaintance__items{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 98px 0 72px 0;
                    width: 100%;
                    @media(max-width:991px){
                        flex-direction: column-reverse;
                        align-items: center;
                        padding: 20px 0 42px 0;
                    }
                    .acquaintance__item-left{
                        width: 45%;
                        padding-top: 64px;
                        @media(max-width:1440px){
                            padding-left: 20px;
                        }
                        @media(max-width:991px){
                            width: 85%;
                            padding-top: 20px;
                            padding-left: 0;
                        }
                        @media(max-width:768px){
                            width: 90%;
                            
                        }
                        @media(max-width:480px){
                            width: 96%;
                        }

                        >.h1__pc{
                            margin: 0;
                            padding-right: 40px;
                            font-family: Ogg;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 40px;
                            line-height: 144.5%;
                            padding-bottom: 28px;
                            @media(max-width:1440px){
                                padding-right: 0;
                            }
                            @media(max-width:991px){
                                padding-bottom: 20px;
                                text-align: center;
                            }
                            @media(max-width:768px){
                                display: none;
                            }
                        }
                        >.h1__mobile{
                            display: none;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 30px;
                            line-height: 138.5%;
                            text-align: center;
                            font-family: Ogg;
                            @media(max-width:768px){
                                display: block;
                            }
                        }
                        >.p__pc{
                            padding-right: 100px;
                            font-weight: normal;
                            font-size: 20px;
                            line-height: 178.9%;
                            padding-bottom: 36px;
                            @media(max-width:1440px){
                                padding-right: 40px;
                            }
                            @media(max-width:991px){
                                padding-right: 0;
                                text-align: center;
                            }
                            @media(max-width:768px){
                                display: none;
                            }
                        }
                        >.p__mobile{
                            line-height: 178.9%;
                            text-align: center;
                            display: none;
                            @media(max-width:768px){
                                display: block;
                                padding: 0 20px 30px 20px;
                            }
                        }
                        .acquaintance__btns{
                            display: flex;
                            flex-direction: row;
                            margin: 0;
                            @media(max-width:991px){
                                justify-content: center;
                            }
                            
                            
                            .acquaintance__btn-right {
                                padding: 20px 28px 20px 58px;
                                background: #FFF4F3;
                                margin-left: 30px;
                                border: 2px solid #EE603B;
                                box-sizing: border-box;
                                border-radius: 1px;
                                position: relative;
                                color: #EE603B;
                                @media(max-width:480px){
                                    margin-left: 16px;
                                }
                                @media(max-width: 365px){
                                    padding: 15px 15px 15px 43px;
                                    margin-left: 10px;
                                }
                                &::before{
                                    content: '';
                                    position: absolute;
                                    background-image: url(../home_img/orange-next.svg);
                                    width: 9px;
                                    height: 10px;
                                    left: 28px;
                                    top: 24.5px;
                                    @media(max-width: 365px){
                                        left: 15px;
                                        top: 19.5px;
                                    }
                                }
                            }
                        }
                    }
                    >.acquaintance__item-right{
                        width: 45%;
                        @media(max-width:991px){
                            width: 85%;
                        }
                        @media(max-width:768px){
                            width: 90%;
                        }
                        @media(max-width: 480px){
                            width: 80%;
                        }
                        >.acquaintance__play-video{     
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            >iframe{
                                width: 100%;
                                height: 486px;
                                border: none;
                                display: none;
                                border-radius: 25px;
                                @media(max-width: 767px){
                                    border-radius: 35px;
                                }
                                @media(max-width: 480px){
                                    height: 150%;
                                    border-radius: 35px;
                                }
                                &.active_video{
                                    display: block;
                                }
                            } 
                            img{
                                &.active_video{
                                    display: none;
                                }
                                object-fit: cover;
                                width: 100%;
                                height: 100%;
                            }
                            >.play__video{
                                position: absolute;
                                width: 94px;
                                height: 94px;
                                top: 40%;
                                left: 40%;
                                display: block;
                                background-image: url(../home_img/play.svg);
                                @media(max-width: 768px){
                                    width: 60px; 
                                    height: 60px;
                                    top: 37%;
                                    left: 43%;
                                    background-image: url(../home_img/play__video1.svg);

                                }
                                &.active_video{
                                    display: none;
                                }
                            }
                            
                            
                        }
                    }
                }


            }
        }
        &::before{
            content: '';
            background: radial-gradient(50% 50% at 50% 50%, rgba(238, 96, 59, 0.42) 23.22%, rgba(246, 171, 151, 0.19) 60.42%, rgba(255, 250, 250, 0) 100%);
            opacity: 0.4;
            position: absolute;
            left: 0;
            top: 50px;
            width: 450px;
            height: 450px;
            @media(max-width: 767px){
                width: 280px;
                height: 280px;
            }
        }
    }
    /////////////end acquaintance
    /////////////////logo-company
    .logo-company {
        background-color: #434F61;
        .logo-company__container {
            @media(max-width: 1440px){
                padding: 0 20px 0 20px;
            }
            .logo-company__items {
                width: 100%;
                margin: 0 auto;
                padding: 44px 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                @media(max-width: 768px){
                    flex-direction: column;
                    align-items: center;
                    padding: 44px 0 0 0;
                }
                .logo-company__item-left {
                    display: flex;
                    align-items: center;
                    width: 35%;
                    .logo-company__text{
                        font-family: Ogg;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 25px;
                        line-height: 39px;
                        color: #FFFFFF;
                        text-align: center;
                        @media(max-width: 768px){
                            text-align: center;
                        }
                    }
                    @media(max-width: 768px){
                        width: 100%;
                        justify-content: center;
                        padding-bottom: 20px;
                    }
                }
                .logo-company__item-right {
                    width: 65%;
                    @media(max-width: 1439px){
                        width: 60%;
                    }
                    @media(max-width: 768px){
                        width: 100%;
                    }
                    .logo-company__list {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        margin: 0;
                        @media(max-width: 1439px){
                            flex-wrap: wrap;
                            justify-content: center;
                        }
                        .logo-company__link {
                            display: flex;
                            align-items: center;
                            @media(max-width: 1439px){
                                margin: 20px 50px 20px 50px;  
                            }
                            @media(max-width: 1135px){
                                margin: 20px 30px;
                            }
                            @media(max-width: 991px){
                                margin: 20px;
                            }
                            >img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .logo-company__link:first-child{
                            padding-top: 12px;
                        }
                    }
                }
            }
        }
    
    
    
    
    }
    /////////////end logo-company
    /////////////////////epigraph
    .epigraph {
        background-color: #303C4D;
        .epigraph__container {
            padding: 100px 0;
            @media(max-width: 768px){
                padding: 50px 0;
            }
            .epigraph__about {
                display: flex;
                flex-direction: column;
                align-items: center;
                @media(max-width: 1440px){
                    padding: 0 20px;
                }
                >span{
                    width: 21px;
                    height: 18px;
                    background-image: url(../home_img/epigraph/1.png);
                    background-size: cover;
                    display: block;
                    margin-bottom: 60px;
                    @media(max-width: 767px){
                        margin-bottom: 37px;
                    }
                }
                >h3{
                    padding: 0 150px;
                    font-size: 35px;
                    line-height: 150%;
                    text-align: center;
                    color: #FFFFFF;
                    font-family: Ogg;
                    margin-bottom: 60px;
                    @media(max-width: 991px){
                        padding: 0;
                    }
                    @media(max-width: 767px){
                        margin-bottom: 37px;
                    }
                }
                >p{
                    text-align: center;
                    color: #fff;
                }

            }
        }
    }
    /////////////////end epigraph
    ///////////////////////author
    .author {
        position: relative;
        background: #FCF7F7;
        .author__container {
            padding: 170px 0;
            @media(max-width: 1440px){
                padding: 150px 20px;
            }
            @media(max-width: 991px){
                padding: 40px 20px;
            }
            .author__items {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                @media(max-width: 991px){
                    flex-direction: column;
                }
                .author__item-left {
                    display: flex;
                    padding: 53px 0 0 0;
                    @media(max-width: 991px){
                        margin-bottom: 30px;
                    }
                    @media(max-width: 768px){
                        width: 96%;
                    }
                    .author__photo {
                        background: #FBE2E0;
                        position: relative;
                        width: 430px;
                        height: 480px;
                        @media(max-width: 768px){
                            width: 202px;
                            height: 221px;
                        }
                        >img{
                            display: block;
                            position: absolute;
                            left: 49px;
                            top: -53px; 
                            object-fit: cover;
                            
                            @media(max-width: 768px){
                                left: 23px;
                                top: -25px;
                                width: 202px;
                                height: 221px;
                            }
                        }
                    }

                }

                .author__item-right {
                    margin-right: 144px;
                    width: 42%;
                    @media(max-width: 1440px){
                        width: 40%;
                        margin-right: 0px;
                    }
                    @media(max-width: 991px){
                        width: 96%;
                    }
                    .author__about {
                        >h2{
                            color: #303C4D;
                            margin-bottom: 20px;
                            @media(max-width: 767px){
                                font-size: 28px;
                            }                          
                        }
                        .author__text {
                            font-size: 20px;
                            line-height: 185%;
                            color: #303C4D;
                            margin-bottom: 20px;

                        }

                        .author__list-ul{
                            display: flex;
                            flex-direction: column;
                            @media(max-width: 991px){
                                flex-direction: column-reverse;
                            }
                            .author__list-li{

                                
                                .author__list {
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 30px;
                                    .author__link {
                                        list-style: inherit;
                                        color: #EE603B;
                                        margin: 10px;
                                        >span{
                                            color: #303C4D;
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                }
            }
        }
        &::before{
            content: '';
            width: 500px;
            height: 500px;
            background: radial-gradient(50% 50% at 50% 50%, #EE603B 23.22%, rgba(238, 96, 59, 0.32) 60.42%, rgba(255, 250, 250, 0) 100%);
            opacity: 0.1;
            position: absolute;
            right: 0;
            top: 610px;
            @media(max-width: 768px){
                display: none;
            }
        }
    }
    ///////////////////end author
    //////////////////////gredent
    .gredent{
        background:  #FCF7F7;
        .gredent__container{
            display: flex;
            flex-direction: column;
            align-items: center;
            @media(max-width: 1440px){
                padding: 0 20px;
            }
            @media(max-width: 768px){
                padding-top: 20px;    
                align-items: flex-start;        
            }
            >h2{
                margin-bottom: 130px;
                @media(max-width: 991px){
                    margin-bottom: 50px;       
                }
                @media(max-width: 768px){
                    display: none;        
                }
            }
            .gredent-accardeon__items {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;
                @media(max-width: 991px){
                    flex-direction: column;
                    justify-content: center;   
                }
                @media(max-width: 768px){
                    justify-content: left;
                    width: 100%;
                }
                .gredent-accardeon__item {

                    width: 43%;
                    margin-bottom: 70px;
                    @media(max-width: 991px){
                        width: 100%;
                    }
                    @media(max-width: 768px){
                        margin-bottom: 50px;
                        width: 100%;
                        -webkit-filter: drop-shadow(18px 10px 24px rgba(0, 0, 0, 0.3));
                        -o-filter: drop-shadow(18px 10px 24px rgba(0, 0, 0, 0.2));
                        -moz-filter: drop-shadow(18px 10px 24px rgba(0, 0, 0, 0.2));
                        -ms-filter: drop-shadow(18px 10px 24px rgba(0, 0, 0, 0.2));
                        filter: drop-shadow(18px 10px 24px rgba(0, 0, 0, 0.2));
                    }
                    .accardeon__content{
                        
                        .accardeon__h3 {

                            margin-bottom: 50px;
                            @media(max-width: 768px){
                                border-bottom: 2px solid #303C4D;
                                width: 100%;
                                display: flex;
                                position: relative;
                                flex-direction: row;
                                
                                >h3{
                                    @media(max-width: 480px){
                                        font-size: 24px;
                                    }  
                                }
                            }
                        }
                        .accardeon__btn1{
                            @media(max-width: 768px){
                                &:after{
                                    content: '';
                                    position: absolute;
                                    right: 0;
                                    top: 50%;
                                    transform: translateY(-50%) rotate(45deg);
                                    width: 8px;
                                    height: 8px;
                                    border-bottom: 3px solid #303C4D;
                                    border-right: 3px solid #303C4D;
                                    transition: .5s;

                                }
                            }
                        }
                        .color-blue{
                            &:after{
                                transition: 0.5s;
                                transform: rotate(225deg);
                            }
                        }
                        .accardeon__btn2{
                            
                            @media(max-width: 768px){
                                &::after{
                                    content: '';
                                    position: absolute;
                                    right: 0;
                                    top: 50%;
                                    transform: translateY(-50%) rotate(45deg);
                                    width: 8px;
                                    height: 8px;
                                    border-bottom: 3px solid #303C4D;
                                    border-right: 3px solid #303C4D;
                                    transition: .5s;
    
                                }
                                }
                            
                        }
                        .color-blue{
                            &:after{
                                transition: 0.5s;
                                transform: rotate(225deg);
                            }
                        }
                        .accardeon__btn3{
                            @media(max-width: 768px){
                                &::after{
                                    content: '';
                                    position: absolute;
                                    right: 0;
                                    top: 50%;
                                    transform: translateY(-50%) rotate(45deg);
                                    width: 8px;
                                    height: 8px;
                                    border-bottom: 3px solid #303C4D;
                                    border-right: 3px solid #303C4D;
                                    transition: .5s;
    
                                }
                            }
                        }
            
                        .color-blue{
                            &:after{
                                transition: 0.5s;
                                transform: rotate(225deg);
                            }
                        }
                        
                       
                        .accardeon__btn3{
                            
                            text-align: none;
                            display: none;
                            @media(max-width: 768px){
                                display: block;
                                margin-bottom: 30px;
                                border-bottom: 2px solid #303C4D;
                                width: 100%;
                                
                            }
                        }
                        >.accardeon__desc {
                            @media(max-width: 768px){
                                display: none;
                            }
                            .gredent__list{
                                padding-left: 20px;
                                .gredent__link{
                                    list-style: outside;
                                    margin-bottom: 10px;
                                    color: #EE603B;
                                    >span{
                                        >.p__jir{
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }
                        }
                        .desc2{
                            overflow: hidden;
                        }
                    }

                    
                    
                }
                .full{
                    width: 96%;
                    margin-bottom: 0;
                    @media(max-width: 991px){
                        width: 100%;   
                    }
                    @media(max-width: 768px){
                        margin-bottom: 50px;
                    }
                    .accardeon__content{
                        .desc3 {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        @media(max-width: 991px){
                            flex-direction: column;
                        }
                        @media(max-width: 768px){
                            display: none;
                        }
                        .about__text {
                            width: 43%;
                            padding-top: 80px;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            @media(max-width: 991px){
                                width: 100%;
                                padding-top: 0;
                            }
                            >h3{
                                padding-right: 200px;
                                margin-bottom: 30px;
                                @media(max-width: 991px){
                                    padding-right: 0;
                                }
                            }
                            >p{
                                >.p__jir{
                                    font-size: 16px;
                                }
                                padding-bottom: 20px;
                            }
                            >.p3__p2{
                                padding-bottom: 35px;
                            }
                            
                        }
    
                        .about__img {
                            width: 43%;
                            margin-top: -80px;
                            @media(max-width: 991px){
                                width: 100%;
                                margin-top: 0;
                            }
                            img{
                                width: 100%;                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                @media(max-width: 768px){
                                    display: none;
                                }
                            }
                        }
                    }

                    }
                    
                    
                    
                }
            }
        }
    }
    /////////////////////////book
    .book{
        background: #FFF4F3;
        .book__container{
            padding: 130px 0;
            @media(max-width: 1440px){
                padding: 130px 20px;
            }
            @media(max-width: 768px){
                padding: 50px 20px;
            }
            .book__items{
                width: 100%;
                .book__item{
                    margin-bottom: 84px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    @media(max-width: 991px){
                        flex-direction: column;
                        justify-content: center;
                    }
                    @media(max-width: 768px){
                        margin-bottom: 50px;
                    }
                    .book__img{
                        width: 50%;
                        display: flex;
                        justify-content: center;
                        @media(max-width: 991px){
                            width: 100%;
                            margin-bottom: 25px;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            
                        }
                    }
                    .book__about{
                        width: 45%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        @media(max-width: 991px){
                            width: 100%;
                        }
                        >h6{
                            margin-bottom: 10px;
                        }
                        >h3{
                            margin-bottom: 20px;
                        }
                        p{  
                            font-size: 20px;
                            margin-bottom: 20px;
                            line-height: 185%; 
                        }
                    }
                }
                >div:nth-child(2){
                    margin-bottom: 0;
                    
                }
            }
        }
    }
    /////////////////////end book
    //////////////////////preview
    .preview{
        background: #303C4D;
        position: relative;
        margin-bottom: 569px;
        @media(max-width:1440px){
            margin-bottom: 0;
        }
        .preview__container{
            @media(max-width:1440px){
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            @media(max-width:991px){
                flex-direction: column-reverse;
            }
            .preview__content-left{
                position: absolute;
                left: 0;
                width: 50%;
                @media(max-width:1440px){
                    position: static;
                }
                @media(max-width:991px){
                    width: 100%;
                    height: auto;
                }
            }
            .preview__content-right{
                background: #303C4D;
                height: 569px;
                position: absolute;
                width: 50%;
                right: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                @media(max-width:1440px){
                    position: static;
                    background: none;
                }
                @media(max-width:991px){
                    width: 100%;
                    height: auto;
                }
                .preview__about{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding-left: 110px;
                    @media(max-width:1440px){
                        padding-right: 20px;
                        
                    }
                    @media(max-width:991px){
                        padding: 50px 20px;
                        align-items: center; 
                    }
                   
                    >h2{
                        padding-top: 106px;
                        color: #FFFFFF;
                        margin-bottom: 30px;
                        @media(max-width:991px){
                            padding-top: 0px;
                            text-align: center;
                            >br{
                                display: none;
                            }
                        }
                    }
                    >p{
                        margin-bottom: 30px;
                        color: #fff;
                        font-size: 20px;
                        line-height: 185%;
                        @media(max-width:1440px){
                            >br{
                                display: none;
                            }
                        }
                        @media(max-width:991px){
                            text-align: center;
                        }
                        
                    }
                    >.play__video1{
                        color: #fff;
                    }
                }
                
            }
        }
    }
    //////////////////end preview
    .resourc{
        height: 500px;
        background: #000;
    }
}


//////////////////END MAIN
//////////////////////////







